<div class="container__big-card">

    <a href="https://g1.globo.com/pop-arte/games/noticia/2024/01/23/palworld-o-pokemon-de-tiro-e-lancado-com-sucesso-e-criticas.ghtml">
        
        <div class="big-card__photo">
            <img src= "https://sm.ign.com/ign_br/news/x/xbox-worki/xbox-working-closely-with-palworld-developers-to-enable-fast_v5ux.jpg"
            height="200px"
            
            alt="imagem placeholder">
        </div>
       
        <div class="big-card__title">
            <h1>Palworld (o 'Pokémon de tiro') é lançado e recebe críticas e elogios pelo mundo todo</h1>
        </div>

    </a>

    <div class="big-card__description">
        <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. A quae dolorum eum alias consequuntur id ratione aperiam cum soluta! Voluptatum, dicta! Tenetur veritatis nemo repellendus, deleniti natus nam optio voluptatem!</p>
    </div>


</div>