<div class="container__small-card">
    
    <div class="container__small-card-content">
        <div class="small-card__photo">
            <a href="https://www.terra.com.br/diversao/entre-telas/playstation-5-aproveite-a-black-friday-e-tenha-ate-r-1000-de-desconto-no-console-mais-amado-do-mundo-gamer,e98397f218ad8c630856b2f04ba66984ccbd4mxc.html#:~:text=Com%20at%C3%A9%20R%24%201.000%20reais,Spider%2DMan%202%20ou%20FC24!"><img src= "https://image.api.playstation.com/vulcan/ap/rnd/202008/1020/bzmUpd4O5o7GtuqKE1kCDFse.jpg"
            alt="imagem spiderman"></a>
        </div>
        
        <div class="small-card__title">
            <h1><a href="https://www.terra.com.br/diversao/entre-telas/playstation-5-aproveite-a-black-friday-e-tenha-ate-r-1000-de-desconto-no-console-mais-amado-do-mundo-gamer,e98397f218ad8c630856b2f04ba66984ccbd4mxc.html#:~:text=Com%20at%C3%A9%20R%24%201.000%20reais,Spider%2DMan%202%20ou%20FC24!">PlayStation 5: Aproveite a Black Friday e tenha até R$ 1000 de desconto no console mais amado do mundo gamer</a></h1>
        </div>
    </div>
    <div class="container__small-card-separator">
        <hr>
    </div>
</div>
