.container__articles{
    margin-top: 30px;
    justify-content: center;
    display: flex;
}
header {
    margin-top: 15px;
    margin-left: 15px;

    flex-direction: column;
    display: flex;
    justify-content: center;
}